body, html {
	margin: 0;
	padding: 0;
	height:100%;
}
.wrapper{
	min-height: 100%;
    position: relative;
}
.navContainer {
	height: 70px;
	width: 100%;
	color: #999999;
	background-color: #333333;
	font-family: 'Nunito Sans', sans-serif;
}
.navContainer .navTextGroup {
	display: flex;
}
.footerContainer {
	height: 125px;
	display: flex;
	justify-content: center;
	width: 100%;
	color: white;
	background-color: #333333;
	font-family: 'Nunito Sans', sans-serif;
	position: absolute;
	bottom: 0;
}
.spacing{
	padding-bottom: 145px;
}
.mainElement:last-child{
	padding-bottom:125px;
}
.mainLogo {
	display: flex;
	margin: auto;
}
.footerLogo {
	display: flex;
	margin: auto;
	padding-top: 25px;
}
.tempRule {
	display: flex;
}
.nav {
	display: inline-flex;
	height: 100%;
	width: 100%;
	justify-content: space-around;
}
.navText {
	list-style: none;
	margin: 10px;
	display: inline-block;
	cursor: pointer;
}
.contactBox, .addressBox, .logoBox, .searchBox {
	max-width: 200px;
	margin-right: 35px;
	margin-left: 35px;
}
.addressBox .boxText {
	margin: 1px;
}
.addressBox .boxHeader {
	margin-bottom: 10px;
}
.footerSearch {
	width: 120px;
	height: 25px;
	cursor: pointer;
	border: solid #686a6a 1px;
}
.navImg {
	list-style: none;
	font-size: 25px;
	padding-top: 5px;
	color: white;
	margin-right: 15px;
	cursor: pointer;
}
.joinText {
	color: white;
}
.heroImageContainer {
	background-image: url("room.jpg");
	font-family: 'Nunito Sans', sans-serif;
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 360px;
	color: white;
	background-position: right;
}
.imageDarkener {
	background-color: rgba(0, 0, 0, .5);
	width: 100%;
	display: inline-block;
	height: 100%;
}
.heroDesc {
	max-width: 700px;
	margin: auto;
	font-size: 18px;
	font-weight: 200;
}
.heroImageArea h1 {
	font-size: 28px;
	margin-top: 100px;
}
.memberName {
	font-weight: 600;
	font-size: 20px;
}
.memberDesc {
	color: #999999;
    font-weight: 400;
}
.memberImage {
	height: 250px;
	width: 200px;
}
.boardContainer {
	font-family: 'Nunito Sans', sans-serif;
	display: flex;
	color: #666666;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 50px;
    margin-bottom: 50px;
	justify-content: center;
}
.member {
	text-align: center;
	width: 200px;
	height: 250px;
	margin: 20px;
	cursor:pointer;
	margin-bottom: 70px;
}
.mainContactInfo {
	font-family: 'Nunito Sans', sans-serif;
	width: 100%;
	display: flex;
}

.navContainer a{
	display: flex;
    margin: auto;
}
.nameBoxContainer, .phoneBoxContainer, .emailBoxContainer, .commentBoxContainer {
	flex-basis: 33%;
	flex-grow: 1;
	margin: 10px;
}
.mainInfoText {
	width: 100%;
	margin: 0;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
}
.mainContactInfoBox {
	font-family: 'Nunito Sans', sans-serif;
	width: 100%;
	display: flex;
	max-width: 960px;
	margin: auto;
}
.nameBox, .phoneBox, .emailBox {
	margin: auto;
	position: relative;
	width: 100%;
}
.commentBox {
	width: 100%;
	height: 200px;
}
.commentBoxContainer {
	max-width: 960px;
	margin: auto;
}
textarea {
	resize: none;
}
.contactContainer {
	color: #666666;
}
.mapOfLocation {
	background-image: url(maps.png);
	width: 100%;
	height: 550px;
	margin-top: 20px;
	display: inline-block;
	background-size: contain;
}
.submitBtn {
	background-color: #016c5c;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 200;
	height: 20px;
	width: 65px;
	padding: 15px;
	padding-top: 15px;
	font-size: 16px;
	margin: auto;
	color: white;
	text-align: center;
	cursor: pointer;
	margin-top: 20px;
}
.innerInfoBox {
	width: 350px;
	height: 425px;
	background-color: white;
	margin-left: 15%;
	font-family: 'Nunito Sans', sans-serif;
	padding: 10px;
	margin-top: 50px;
}
.innerInfoBox h1 {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
}
.innerLocation, .inner2ndLocation {
	color: #999999;
}

.innerLocation i{
	color: #016C5B;
}

.inner2ndLocation i{
	color: #01486C;
}

.innerInfoBox i {
	margin-top: 2.5px;
	margin-right: 5px;
}
.donationDesc {
	font-family: 'Nunito Sans', sans-serif;
	padding: 100px;
	position: relative;
	width: calc(80% - 100px);
	max-width: 1200px;
	color:black;
	/* margin: auto; */
	display: inline-block;
}
.donationDescContainer {
	width: 100%;
	display: inline-block;
	text-align: center;
}
.donatePage {
	color: #9a9a9a;
}
.donateInfo input {
	margin-left: -150px;
	width: 300px;
	left: 50%;
	position: relative;
}
.donateInfo {
	margin: auto;
	max-width: 500px;
}
.donate {
	margin-bottom: 20px;
}
.donateSubmitBtns {
	margin-bottom: 50px;
	width: 100%;
	display: inline-flex;
	justify-content: center;
}
.donateCancelBtn {
	background-color: #016c5c;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 200;
	height: 20px;
	width: 65px;
	padding: 15px;
	padding-top: 15px;
	font-size: 16px;
	color: white;
	padding-left: 30px;
	text-align: center;
	cursor: pointer;
	display: flex;
	margin: 5px;
	padding-left: 30px;
}
.donatePayBtn {
	margin: 5px;
	display: flex;
	padding-left: 30px;
	width: 45px;
	background-color: #016c5c;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 200;
	height: 20px;
	padding: 15px;
	padding-top: 15px;
	font-size: 16px;
	color: white;
	padding-left: 30px;
	text-align: center;
	cursor: pointer;
}
.donateCommentBox {
	height: 150px;
}
.frequentQuestionsPage {
	max-width: 1200px;
	margin: auto;
	margin-top: 100px;
	font-family: 'Nunito Sans', sans-serif;
}
.frequentFeatureText {
	color: #999999;
}
.frequentContainer {
	padding: 50px;
}
.bio {
	max-width: 960px;
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 15px;
}
.bioThumbnail {
	margin: 10px;
	width: 25%;
	flex-shrink: 1;
}
.profilePic {
	width: calc(100% - 20px);
	height: auto;
}
.bioDesc {
	flex-shrink: 1;
	width: 75%;
}
.bioName {
	font-weight: 400;
	margin-bottom: 5px;
	margin-top: 2px;
}
.bioNameDesc {
	margin-top: 2px;
	color: #999999;
}
.bioThumbnail i {
	color: #016C5B;
	font-size: 21px;
}
.bioTwitter, .bioFacebook, .bioInstagram {
	color: #999999;
}
.memberBio {
	font-family: 'Nunito Sans', sans-serif;
}
.speakerEvents {
	width: 100%;
}
.speakerEvents h1 {
	margin-bottom: 5px;
	font-weight: 300;
}
.speakerEvents p {
	color: #006c3f;
	margin-top: 0px;
}
.followOn {
	font-size: 20px;
	font-weight: 200;
	margin-top: 10px;
}
.hiddenUpper {
	display: none;
}
.membershipDirecory {
	font-family: 'Nunito Sans', sans-serif;
}
.membershipDetailsContainer {
	margin: auto;
	max-width: 960px;
	width: 50%;
	text-align: center;
	margin-bottom: 50px;
}
.memberUpperName {
	width: 100%;
	font-weight: 500;
	font-size: 28px;
}
.upperDetails {
	width: 100%;
}
.upperDetails span {
	font-size: x-large;
	font-weight: 300;
	color: #666666;
}
.lowerDetails span {
	font-size: x-large;
	font-weight: 300;
	color: #666666;
}
.lowerDetails img {
	max-width: 150px;
}
.memberLabel {
	color: #999999;
	font-size: 20px;
}
.memberSection span {
	color: #666666;
	font-size: 18px;
}
.membershipDirectory {
	font-family: 'Nunito Sans', sans-serif;
}
.sectionDivider {
	font-size: 22px;
	color: #666666;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 20px;
}



.sponsorsBenefits{
	width: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

.sponsorContactContainer{
	max-width: 1024px;
    margin: auto;
    padding: 20px;
    width: calc(100% - 50px);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.sponsorContactBtn{
	background-color: #016C5B;
    display: inline-block;
    color: white;
    font-weight: 200;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    cursor:pointer;
}

.sponsorUpperBenefits, .sponsorLowerBenefits{
display:inline-flex;
}

.sponsorUpperBenefits{
	margin-top: 50px;
}
.sponsorAmount{
	    font-size: 25px;
}

.sponsorType{
	    font-size: 18px;
}
.sponsorBox span{
	width: 100%;
    margin-top: 10px;
    color: #999999;
    display: inline-block;
}

.sponsorUpperBenefits .diamond, .platinum{
	max-width: 50%;
    display: inline-block;
}
.sponsorLowerBenefits .sponsorBox{
	width: calc(33% - 20px);
    padding: 20px;
}

.honoraryFoundersContainer{
	width: calc(100% - 40px);
    /* color: black; */
    padding: 20px;
}

.foundersLabel{
	font-weight: 300;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
}

.founderImageContainer{
	max-width: 500px;
    margin: auto;
}

.founderImageContainer img{
	max-width:33%;
}

.honoraryFoundersDesc{
	max-width: 600px;
    margin: auto;
    margin-top: 75px;
}

.sponsorsPage{
	    max-width: 1024px;
    text-align: center;
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
}

.partnerImageContainer img{
	flex-grow: 1;
    max-width: 33%;
    max-height: 70px;
    margin:5px;
}

.partnerType{
	    font-weight: 300;
}

.partnerImageContainer{
	max-width: 1024px;
    width: calc(100% - 40px);
    padding: 20px;
}

.partnersContainer{
	    margin-top: 50px;
    margin-bottom: 50px;
}

.sponsorsBoxContainer{
	width: 100%;
    max-width: 1024px;
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    color: #666666;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sponsorsBox{
	width:33%;
	text-align: center;
}
.sponsorsBox p{
	margin-top:30px;
	margin-bottom:30px;
}
.goldSponsorsLabel{
	width:100%;
}

.goldSponsorsLabel h1{
	margin: auto;
	color: black;
	font-weight: 300;
}

.eventListing{
	max-width: 960px;
    width: calc(100% - 40px);
    padding: 20px;
    margin: auto;
    margin-bottom:50px;
    margin-top:50px;
    font-family: 'Nunito Sans', sans-serif;
}

.eventContainer{
	width: calc(100% - 40px);
    padding: 20px;
    display: inline-block;
}

.imageRow{
	width: 100%;
    height: 300px;
    justify-content: center;
    display: flex;
    background-color: #999999;
}

.title{
	width:100%;
	float:left;
}

.imageRow img{
	flex-basis: auto;
    width:100%;
}

.eventInfo{
	display: inline-block;
    padding: 20px;
}

.eventInfo .title{
	width: 100%;
    float: left;
    font-weight: 400;
    display: inline-flex;
}

.bottomInfo i{
	color:#016C5B;
}

.greenBar{
	height: 12.5px;
    margin: 0;
    padding: 0;
    background-color: #016C5B
}

.learnEvent{
	display: inline-block;
    padding: 5px;
    background-color: #016C5B;
    color: white;
    font-weight: 200;
    width: 120px;
    text-align: center;
}
.bottomEventTime, .bottomEventLocation{
	margin: 15px;
}
.bottomEventDate{
	margin: 15px;
	margin-left:0;
}

.pastEvents{
	width: 100%;
}

.eventArchive{
    max-width: 1024px;
    width: calc(100% - 40px);
    padding: 20px;
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
}

.pastEventDesc{
	display: inline-block;
    float: left;
    width: 50%;
}

.leftSideArchive{
	display: inline-block;
    float: left;
    width: 50%;
}

.rightSideArchive{
	display: inline-block;
    float: right;
    width: 50%;
}

.pastEventInfo{
display: inline-block;
    float: right;
    width: 50%;
    text-align: center;
}

.pastEventInfo h1{
	font-weight: 400;
}
.pastEventSocial{
	font-size:20px;
	margin:5px;
}
.archiveInfo{
    margin-top: 10px;
    margin-bottom: 10px;
}

.pastEvents i {
	color:#016C5B;
}

.archiveEventPrice, .archiveEventFood{
	float: right;
}

.pastEventUpperDetails{
	display: inline-block;
}
.pastEventLowerDetails{
	width:100%;
}

.moreEventsBtn{
	background-color: #01486C;
    display: inline-block;
    color: white;
    font-weight: 200;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin: 10px;
}

.upcomingEvents i{
	color:#01486C;
}

.welcomeContainer{
	font-family: 'Nunito Sans', sans-serif;
    max-width: 500px;
    width: calc(100% - 40px);
    padding: 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.welcomeContainer a {
	display:inline-block;
	color:black;
	width:100%;
	text-decoration:none;
	font-size:20px;
	margin-top: 10px;
    margin-bottom: 10px;

}

	.learnEvent{
		    float:right;
	}
@media screen and (max-width:1075px) {
	.socialContainer i {
		font-size: 20px;
	}
	.navContainer .navText {
		font-size: 13px;
	}
	.contactBox, .addressBox, .logoBox, .searchBox {
		max-width: 100%;
		margin: auto;
		width: 100%;
	}
	.footerSearch {
		margin: auto;
	}
	.footerContainer {
		flex-wrap: wrap;
		text-align: center;
		height: 390px;
	}
	.spacing{
	padding-bottom: 410px;
}
	.footerContainer p {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.searchBox {
		margin-bottom: 50px;
	}
	.socialContainer {
		display: none;
	}
	.navContainer .navTextGroup {
		display: none;
	}
}
@media screen and (max-width:1024px) {
	.bio {
		flex-wrap: wrap;
		padding: 25px;
	}

	.sponsorUpperBenefits .diamond, .platinum{
	max-width: calc(100% - 20px);
	padding:20px;
}
.sponsorLowerBenefits .sponsorBox{
	width: calc(100% - 20px);
	padding:20px;
}

	.sponsorUpperBenefits, .sponsorLowerBenefits{
		flex-wrap: wrap;
	}

	.bioName, .bioNameDesc {
		display: none;
	}

	.pastEventInfo{
display:none;
}
	.hiddenUpper {
		display: block;
		width: 100%;
	}
	.bioThumbnail {
		margin: 10px;
		width: 100%;
		flex-shrink: 1;
	}
	.profilePic {
		float: left;
		width: 50%;
		max-width: 300px;
	}
	.bioSocialBox {
		margin-left: 20px;
		/* float: right; */
		height: 100%;
		display: inline-block;
	}
	.bioDesc {
		width: 100%;
		float: none;
	}
	.bioSocialBox {
		margin-left: 20px;
		float: none;
		max-width: calc(50% - 20px);
		height: 100%;
		display: table;
	}
	.bioSocialInnerBox {
		display: table-cell;
		vertical-align: middle;
		padding-left: 20px;
		font-size: 2vw;
	}

	.bottomEventDate {
    margin: 15px;
    width: 100%;
    float: left;
    margin-left: 0;
}

.bottomEventTime {
    margin: 15px;
    float: left;
    width: 100%;
    margin-left: 0px;
}
.bottomEventLocation{
	width: calc(90% - 140px);
	margin: 15px;
    float: left;
    margin-left: 0px;
}

.learnEvent{
	    display: inline-block;
    padding: 5px;
    background-color: #016C5B;
    color: white;
    font-weight: 200;
    height: 25px;
    width: 120px;
    text-align: center;
}
}
@media screen and (max-width:975px) {
	.innerInfoBox {
		margin-left: 0;
		margin-top: 0px;
		width: calc(100% - 20px);
		height: 100%;
		font-family: 'Nunito Sans', sans-serif;
		padding: 10px;
		text-align: center;
		background-color: #e6e6e6;
	}

	.sponsorsBox {
    width: 100%;
}
}
@media screen and (max-width: 768px) {
	.donationDesc {
		padding: 5px;
		font-size: 2.5vw;
	}
	.donationDescContainer {
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 500px) {
	.bioThumbnail i {
		font-size: 14px;
	}

	.learnEvent{
		    float:none;
	}

	.donationDesc {
    font-size: 3.25vw;
	}

	.followOn {
		font-size: 15px;
	}
	.membershipDetailsContainer {
		padding: 10px;
		max-width: 960px;
		width: calc(100% - 10px);
	}

	.bottomEventLocation{
	width: 100%;
}

.imageRow {
    width: 100%;
    height: 300px;
    justify-content: center;
    display: flex;
    background-color: #999999;
}

.imageRow img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

.eventContainer{
	    text-align: center;
}
.mainContactInfoBox {
	font-family: 'Nunito Sans', sans-serif;
	width: 100%;
	display: inline-block;
}
.nameBoxContainer, .phoneBoxContainer, .emailBoxContainer, .commentBoxContainer {
	flex-basis: inherit;
	width: calc(100% - 20px);
	display: inline-block;
	margin: 10px;
}
.commentBoxContainer {
	width: calc(100% - 20px);
	/* margin: auto; */
	display: inline-block;
}
.commentBox {
	width: 100%;
	height: 50px;
	margin-left: -150px;
	left: 50%;
	position: relative;
	width: 100%;
	max-width: 300px;
}
.nameBox, .phoneBox, .emailBox {
	margin-left: -150px;
	left: 50%;
	position: relative;
	width: 100%;
	max-width: 300px;
}
}
